@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Open+Sans&family=Roboto&family=Sacramento&family=Caveat&family=Architects+Daughter&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

:root {
  --bgcolor: #f0f0f0;
  --bgcolor-400: #d2d2d2;
  --bgcolor-100: #e1e1e1;
  --bgcolor-700: #c3c3c3;
  --tcolor: #121212;
  --tcolor-100: #333333;
  --tcolor-400: #272727;
  --tcolor-700: #1d1d1d;
  --back-shadow: rgba(0, 0, 0, 0.2);
  --back-shadow-light: rgba(0, 0, 0, 0.1);
  --transition-time: 200ms;
  --red: #f44336;
  --red-100: #ffcdd2;
  --red-400: #ef5350;
  --red-700: #d32f2f;
  --pink: #e91e63;
  --pink-100: #f8bbd0;
  --pink-400: #ec407a;
  --pink-700: #c2185b;
  --purple: #9c27b0;
  --purple-100: #e1bee7;
  --purple-400: #ab47bc;
  --purple-700: #7b1fa2;
  --dark-purple: #673ab7;
  --dark-purple-100: #d1c4e9;
  --dark-purple-400: #7e57c2;
  --dark-purple-700: #512da8;
  --indigo: #3f51b5;
  --indigo-100: #c5cae9;
  --indigo-400: #5c6bc0;
  --indigo-700: #303f9f;
  --blue: #2196f3;
  --blue-100: #bbdefb;
  --blue-400: #42a5f5;
  --blue-700: #1976d2;
  --light-blue: #03a9f4;
  --light-blue-100: #b3e5fc;
  --light-blue-400: #29b6f6;
  --light-blue-700: #0288d1;
  --cyan: #00bcd4;
  --cyan-100: #b2ebf2;
  --cyan-400: #26c6da;
  --cyan-700: #0097a7;
  --green: #4caf50;
  --green-100: #c8e6c9;
  --green-400: #66bb6a;
  --green-700: #388e3c;
  --light-green: #8bc34a;
  --light-green-100: #dcedc8;
  --light-green-400: #9ccc65;
  --light-green-700: #689f38;
  --yellow: #ffeb3b;
  --yellow-100: #fff9c4;
  --yellow-400: #ffee58;
  --yellow-700: #fbc02d;
  --orange: #ff9800;
  --orange-100: #ffe0b2;
  --orange-400: #ffa726;
  --orange-700: #f57c00;
  --deep-orange: #ff5722;
  --deep-orange-100: #ffccbc;
  --deep-orange-400: #ff7043;
  --deep-orange-700: #e64a19;
  --brown: #795548;
  --brown-100: #d7ccc8;
  --brown-400: #8d6e63;
  --brown-700: #5d4037;
  --grey: #9e9e9e;
  --grey-100: #f5f5f5;
  --grey-400: #bdbdbd;
  --grey-700: #616161;
  --blue-grey: #607d8b;
  --blue-grey-100: #cfd8dc;
  --blue-grey-400: #78909c;
  --blue-grey-700: #455a64;
  --blue: #4285f4;
  --red: #ea4335;
  --yellow: #fbbc05;
  --green: #34a853; }

.light {
  --bgcolor: #f0f0f0;
  --bgcolor-100: #e1e1e1;
  --bgcolor-400: #d2d2d2;
  --bgcolor-700: #c3c3c3;
  --tcolor: #121212;
  --tcolor-100: #333333;
  --tcolor-400: #272727;
  --tcolor-700: #1d1d1d;
  --back-shadow: rgba(0, 0, 0, 0.2);
  --back-shadow-light: rgba(0, 0, 0, 0.1); }

.dark {
  --bgcolor: #121212;
  --bgcolor-100: #333333;
  --bgcolor-400: #272727;
  --bgcolor-700: #1d1d1d;
  --tcolor: #f0f0f0;
  --tcolor-100: #e1e1e1;
  --tcolor-400: #d2d2d2;
  --tcolor-700: #c3c3c3;
  --back-shadow: rgba(255, 255, 255, 0.2);
  --back-shadow-light: rgba(255, 255, 255, 0.1); }

/* @mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 576px){@content};
    }
    @if $breakpoint == tab{
        @media (max-width: 768px){@content};
    }
    @if $breakpoint == main{
        @media (max-width: 992px){@content};
    }
    @if $breakpoint == big-desk{
        @media (min-width: 992px){@content};
    }
} */
.row {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap; }
  .row > * {
    width: 100%; }

[class^="col"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

@media (min-width: 880px) {
  .row .col-lg-100 {
    width: 100%; }
  .row .col-lg-83 {
    width: 83.333%; }
  .row .col-lg-80 {
    width: 80%; }
  .row .col-lg-75 {
    width: 75%; }
  .row .col-lg-70 {
    width: 70%; }
  .row .col-lg-66 {
    width: 66.666%; }
  .row .col-lg-60 {
    width: 60%; }
  .row .col-lg-50 {
    width: 50%; }
  .row .col-lg-40 {
    width: 40%; }
  .row .col-lg-33 {
    width: 33.333%; }
  .row .col-lg-30 {
    width: 30%; }
  .row .col-lg-25 {
    width: 25%; }
  .row .col-lg-20 {
    width: 20%; }
  .row .col-lg-16 {
    width: 16.666%; }
  .row .col-lg-10 {
    width: 10%; } }

@media (min-width: 672px) and (max-width: 879.98px) {
  .row .col-md-100 {
    width: 100%; }
  .row .col-md-83 {
    width: 83.333%; }
  .row .col-md-80 {
    width: 80%; }
  .row .col-md-75 {
    width: 75%; }
  .row .col-md-70 {
    width: 70%; }
  .row .col-md-66 {
    width: 66.666%; }
  .row .col-md-60 {
    width: 60%; }
  .row .col-md-50 {
    width: 50%; }
  .row .col-md-40 {
    width: 40%; }
  .row .col-md-33 {
    width: 33.333%; }
  .row .col-md-30 {
    width: 30%; }
  .row .col-md-25 {
    width: 25%; }
  .row .col-md-20 {
    width: 20%; }
  .row .col-md-16 {
    width: 16.666%; }
  .row .col-md-10 {
    width: 10%; } }

@media (max-width: 671.98px) {
  .row .col-sm-100 {
    width: 100%; }
  .row .col-sm-83 {
    width: 83.333%; }
  .row .col-sm-80 {
    width: 80%; }
  .row .col-sm-75 {
    width: 75%; }
  .row .col-sm-70 {
    width: 70%; }
  .row .col-sm-66 {
    width: 66.666%; }
  .row .col-sm-60 {
    width: 60%; }
  .row .col-sm-50 {
    width: 50%; }
  .row .col-sm-40 {
    width: 40%; }
  .row .col-sm-33 {
    width: 33.333%; }
  .row .col-sm-30 {
    width: 30%; }
  .row .col-sm-25 {
    width: 25%; }
  .row .col-sm-20 {
    width: 20%; }
  .row .col-sm-16 {
    width: 16.666%; }
  .row .col-sm-10 {
    width: 10%; } }

html {
  font-size: 16px; }
  @media (max-width: 672px) {
    html {
      font-size: 12px; } }

body {
  font-family: Cabin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  background-color: var(--bgcolor);
  color: var(--tcolor);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  letter-spacing: 0.025rem;
  word-spacing: 0.25rem;
  line-height: 1.25rem;
  transition: all var(--transition-time) ease-in-out;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: var(--tcolor);
  border: none;
  outline: none; }
  a:hover, a:active, a:focus, a:visited {
    border: none;
    outline: none;
    border: none;
    outline: none; }

img {
  pointer-events: none; }

input {
  font: inherit;
  text-rendering: auto;
  background-color: var(--bgcolor);
  color: var(--tcolor);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: inherit;
  text-indent: inherit;
  text-shadow: inherit;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  padding: 0.5rem; }
  input, input:hover, input:focus, input:active, input:focus-within, input:focus-visible {
    border: none;
    outline: none; }

input {
  border: none;
  outline: 3px solid transparent;
  border-radius: 4px;
  background-color: var(--bgcolor-400);
  margin: 0.5rem;
  padding: 0.5rem;
  transition: all var(--transition-time) ease-in-out; }
  input:hover {
    border: none;
    outline: 3px solid transparent; }
  input:active, input:focus {
    border: none;
    outline: 3px solid rgba(0, 0, 0, 0.2); }
  input::placeholder {
    font-size: 0.875rem; }

button {
  background: inherit;
  color: inherit;
  border: none;
  outline: none;
  font: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  text-rendering: inherit;
  text-size-adjust: inherit;
  text-indent: inherit;
  text-align: inherit;
  appearance: inherit; }
  button:hover, button:active, button:focus, button:focus-visible, button:focus-within {
    border: none;
    outline: none; }

.btn {
  margin: 0.25rem 0.5rem;
  padding: 0.825rem 1.375rem;
  outline: 0 solid transparent;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 550;
  cursor: pointer;
  user-select: none;
  line-height: 1.5;
  transition: all var(--transition-time) ease-in-out;
  background-color: var(--bgcolor-100);
  color: var(--tcolor); }
  .btn:hover {
    background-color: var(--bgcolor-400);
    color: var(--tcolor-100); }
  .btn:active, .btn:focus, .btn:focus-visible, .btn:focus-within {
    background-color: var(--bgcolor-700);
    color: var(--tcolor);
    box-shadow: 0 0 0 0.35rem rgba(51, 51, 51, 0.25); }
    body.dark .btn:active, body.dark .btn:focus, body.dark .btn:focus-visible, body.dark .btn:focus-within {
      box-shadow: 0 0 0 0.35rem rgba(240, 240, 240, 0.25); }
  @media (max-width: 672px) {
    .btn {
      padding: 0.6rem 0.75rem; } }
  .btn-sm {
    font-size: 0.875rem;
    padding: 0.6rem 1rem;
    font-weight: 400; }
  .btn-lg {
    font-size: 1.125rem;
    padding: 1rem 1.6rem;
    font-weight: 550; }
  .btn-fill {
    background-color: var(--tcolor-100);
    color: var(--bgcolor);
    border: 0.125rem solid var(--bgcolor-100); }
    .btn-fill:hover {
      background-color: var(--bgcolor-400);
      color: var(--tcolor);
      border: 0.125rem solid var(--tcolor-100); }
    .btn-fill:active, .btn-fill:focus, .btn-fill:focus-visible, .btn-fill:focus-within {
      background-color: var(--tcolor-700);
      color: var(--bgcolor);
      border: 0.125rem solid var(--tcolor-700);
      box-shadow: 0 0 0 0.35rem rgba(18, 18, 18, 0.25); }
      body.dark .btn-fill:active, body.dark .btn-fill:focus, body.dark .btn-fill:focus-visible, body.dark .btn-fill:focus-within {
        box-shadow: 0 0 0 0.35rem rgba(240, 240, 240, 0.25); }
  .btn-light, .btn-fill-light {
    background-color: #d2d2d2;
    color: #121212;
    border: 0.125rem solid #d2d2d2; }
    .btn-light:hover, .btn-fill-light:hover {
      background-color: #e1e1e1;
      color: #121212;
      border: 0.125rem solid #333333; }
    .btn-light:active, .btn-light:focus, .btn-light:focus-visible, .btn-light:focus-within, .btn-fill-light:active, .btn-fill-light:focus, .btn-fill-light:focus-visible, .btn-fill-light:focus-within {
      background-color: #c3c3c3;
      color: #121212;
      border: 0.125rem solid #c3c3c3;
      box-shadow: 0 0 0 0.35rem rgba(195, 195, 195, 0.25); }
      body.dark .btn-light:active, body.dark .btn-light:focus, body.dark .btn-light:focus-visible, body.dark .btn-light:focus-within, body.dark .btn-fill-light:active, body.dark .btn-fill-light:focus, body.dark .btn-fill-light:focus-visible, body.dark .btn-fill-light:focus-within {
        box-shadow: 0 0 0 0.35rem rgba(51, 51, 51, 0.25); }
  .btn-dark, .btn-fill-dark {
    background-color: #272727;
    color: #f0f0f0;
    border: 0.125rem solid #272727; }
    .btn-dark:hover, .btn-fill-dark:hover {
      background-color: #333333;
      color: #f0f0f0;
      border: 0.125rem solid #e1e1e1; }
    .btn-dark:active, .btn-dark:focus, .btn-dark:focus-visible, .btn-dark:focus-within, .btn-fill-dark:active, .btn-fill-dark:focus, .btn-fill-dark:focus-visible, .btn-fill-dark:focus-within {
      background-color: #1d1d1d;
      color: #f0f0f0;
      border: 0.125rem solid #1d1d1d;
      box-shadow: 0 0 0 0.35rem rgba(18, 18, 18, 0.25); }
      body.dark .btn-dark:active, body.dark .btn-dark:focus, body.dark .btn-dark:focus-visible, body.dark .btn-dark:focus-within, body.dark .btn-fill-dark:active, body.dark .btn-fill-dark:focus, body.dark .btn-fill-dark:focus-visible, body.dark .btn-fill-dark:focus-within {
        box-shadow: 0 0 0 0.35rem rgba(51, 51, 51, 0.25); }
  .btn-red, .btn-fill-red {
    background-color: #ea4335;
    border: 0.125rem solid #ea4335;
    color: #f0f0f0; }
    .btn-red:hover, .btn-fill-red:hover {
      background-color: #ffcdd2;
      color: #333333;
      border: 0.125rem solid #ef5350; }
    .btn-red:active, .btn-red:focus, .btn-red:focus-visible, .btn-red:focus-within, .btn-fill-red:active, .btn-fill-red:focus, .btn-fill-red:focus-visible, .btn-fill-red:focus-within {
      background-color: #d32f2f;
      border: 0.125rem solid #d32f2f;
      color: #f0f0f0;
      box-shadow: 0 0 0 0.35rem rgba(234, 67, 53, 0.25); }
      body.dark .btn-red:active, body.dark .btn-red:focus, body.dark .btn-red:focus-visible, body.dark .btn-red:focus-within, body.dark .btn-fill-red:active, body.dark .btn-fill-red:focus, body.dark .btn-fill-red:focus-visible, body.dark .btn-fill-red:focus-within {
        box-shadow: 0 0 0 0.35rem rgba(234, 67, 53, 0.25); }
  .btn-blue, .btn-fill-blue {
    background-color: #4285f4;
    border: 0.125rem solid #4285f4;
    color: #f0f0f0; }
    .btn-blue:hover, .btn-fill-blue:hover {
      background-color: #bbdefb;
      color: #333333;
      border: 0.125rem solid #42a5f5; }
    .btn-blue:active, .btn-blue:focus, .btn-blue:focus-visible, .btn-blue:focus-within, .btn-fill-blue:active, .btn-fill-blue:focus, .btn-fill-blue:focus-visible, .btn-fill-blue:focus-within {
      background-color: #1976d2;
      border: 0.125rem solid #1976d2;
      color: #f0f0f0;
      box-shadow: 0 0 0 0.35rem rgba(66, 133, 244, 0.25); }
      body.dark .btn-blue:active, body.dark .btn-blue:focus, body.dark .btn-blue:focus-visible, body.dark .btn-blue:focus-within, body.dark .btn-fill-blue:active, body.dark .btn-fill-blue:focus, body.dark .btn-fill-blue:focus-visible, body.dark .btn-fill-blue:focus-within {
        box-shadow: 0 0 0 0.35rem rgba(66, 133, 244, 0.25); }
  .btn-green, .btn-fill-green {
    background-color: #34a853;
    border: 0.125rem solid #34a853;
    color: #f0f0f0; }
    .btn-green:hover, .btn-fill-green:hover {
      background-color: #c8e6c9;
      color: #333333;
      border: 0.125rem solid #66bb6a; }
    .btn-green:active, .btn-green:focus, .btn-green:focus-visible, .btn-green:focus-within, .btn-fill-green:active, .btn-fill-green:focus, .btn-fill-green:focus-visible, .btn-fill-green:focus-within {
      background-color: #388e3c;
      border: 0.125rem solid #388e3c;
      color: #f0f0f0;
      box-shadow: 0 0 0 0.35rem rgba(52, 168, 83, 0.25); }
      body.dark .btn-green:active, body.dark .btn-green:focus, body.dark .btn-green:focus-visible, body.dark .btn-green:focus-within, body.dark .btn-fill-green:active, body.dark .btn-fill-green:focus, body.dark .btn-fill-green:focus-visible, body.dark .btn-fill-green:focus-within {
        box-shadow: 0 0 0 0.35rem rgba(52, 168, 83, 0.25); }
  .btn-yellow, .btn-fill-yellow {
    background-color: #fbbc05;
    border: 0.125rem solid #fbbc05;
    color: #f0f0f0; }
    .btn-yellow:hover, .btn-fill-yellow:hover {
      background-color: #fff9c4;
      color: #333333;
      border: 0.125rem solid #ffee58; }
    .btn-yellow:active, .btn-yellow:focus, .btn-yellow:focus-visible, .btn-yellow:focus-within, .btn-fill-yellow:active, .btn-fill-yellow:focus, .btn-fill-yellow:focus-visible, .btn-fill-yellow:focus-within {
      background-color: #fbc02d;
      border: 0.125rem solid #fbc02d;
      color: #f0f0f0;
      box-shadow: 0 0 0 0.35rem rgba(251, 188, 5, 0.25); }
      body.dark .btn-yellow:active, body.dark .btn-yellow:focus, body.dark .btn-yellow:focus-visible, body.dark .btn-yellow:focus-within, body.dark .btn-fill-yellow:active, body.dark .btn-fill-yellow:focus, body.dark .btn-fill-yellow:focus-visible, body.dark .btn-fill-yellow:focus-within {
        box-shadow: 0 0 0 0.35rem rgba(251, 188, 5, 0.25); }
  .btn-outline {
    background-color: var(--bgcolor-100);
    color: var(--tcolor);
    border: 0.125rem solid var(--tcolor-400); }
    .btn-outline:hover {
      background-color: var(--tcolor);
      color: var(--bgcolor);
      border: 0.125rem solid var(--tcolor); }
    .btn-outline:active, .btn-outline:focus, .btn-outline:focus-visible, .btn-outline:focus-within {
      background-color: var(--bgcolor-700);
      color: var(--tcolor);
      border: 0.125rem solid var(--tcolor-700);
      box-shadow: 0 0 0 0.35rem rgba(18, 18, 18, 0.25); }
      body.dark .btn-outline:active, body.dark .btn-outline:focus, body.dark .btn-outline:focus-visible, body.dark .btn-outline:focus-within {
        box-shadow: 0 0 0 0.35rem rgba(240, 240, 240, 0.25); }
    .btn-outline-light {
      background-color: #e1e1e1;
      color: #121212;
      border: 0.125rem solid var(--tcolor-400); }
      .btn-outline-light:hover {
        background-color: #121212;
        color: #f0f0f0;
        border: 0.125rem solid var(--tcolor); }
      .btn-outline-light:active, .btn-outline-light:focus, .btn-outline-light:focus-visible, .btn-outline-light:focus-within {
        background-color: #c3c3c3;
        color: #121212;
        border: 0.125rem solid #1d1d1d;
        box-shadow: 0 0 0 0.35rem rgba(18, 18, 18, 0.25); }
        body.dark .btn-outline-light:active, body.dark .btn-outline-light:focus, body.dark .btn-outline-light:focus-visible, body.dark .btn-outline-light:focus-within {
          box-shadow: 0 0 0 0.35rem rgba(240, 240, 240, 0.25); }
    .btn-outline-dark {
      background-color: #333333;
      color: #f0f0f0;
      border: 0.125rem solid #d2d2d2; }
      .btn-outline-dark:hover {
        background-color: #f0f0f0;
        color: #121212;
        border: 0.125rem solid var(--tcolor); }
      .btn-outline-dark:active, .btn-outline-dark:focus, .btn-outline-dark:focus-visible, .btn-outline-dark:focus-within {
        background-color: #1d1d1d;
        color: #f0f0f0;
        border: 0.125rem solid #1d1d1d;
        box-shadow: 0 0 0 0.35rem rgba(18, 18, 18, 0.25); }
        body.dark .btn-outline-dark:active, body.dark .btn-outline-dark:focus, body.dark .btn-outline-dark:focus-visible, body.dark .btn-outline-dark:focus-within {
          box-shadow: 0 0 0 0.35rem rgba(240, 240, 240, 0.25); }
    .btn-outline-red {
      background-color: #ffcdd2;
      color: #121212;
      border: 0.125rem solid #ef5350; }
      .btn-outline-red:hover {
        background-color: #ea4335;
        color: #f0f0f0;
        border: 0.125rem solid #ea4335; }
      .btn-outline-red:active, .btn-outline-red:focus, .btn-outline-red:focus-visible, .btn-outline-red:focus-within {
        background-color: #ffcdd2;
        color: #121212;
        border: 0.125rem solid #ef5350;
        box-shadow: 0 0 0 0.35rem rgba(234, 67, 53, 0.25); }
        body.dark .btn-outline-red:active, body.dark .btn-outline-red:focus, body.dark .btn-outline-red:focus-visible, body.dark .btn-outline-red:focus-within {
          box-shadow: 0 0 0 0.35rem rgba(234, 67, 53, 0.25); }
    .btn-outline-blue {
      background-color: #bbdefb;
      color: #121212;
      border: 0.125rem solid #42a5f5; }
      .btn-outline-blue:hover {
        background-color: #4285f4;
        color: #f0f0f0;
        border: 0.125rem solid #4285f4; }
      .btn-outline-blue:active, .btn-outline-blue:focus, .btn-outline-blue:focus-visible, .btn-outline-blue:focus-within {
        background-color: #bbdefb;
        color: #121212;
        border: 0.125rem solid #42a5f5;
        box-shadow: 0 0 0 0.35rem rgba(66, 133, 244, 0.25); }
        body.dark .btn-outline-blue:active, body.dark .btn-outline-blue:focus, body.dark .btn-outline-blue:focus-visible, body.dark .btn-outline-blue:focus-within {
          box-shadow: 0 0 0 0.35rem rgba(66, 133, 244, 0.25); }
    .btn-outline-green {
      background-color: #c8e6c9;
      color: #121212;
      border: 0.125rem solid #66bb6a; }
      .btn-outline-green:hover {
        background-color: #34a853;
        color: #f0f0f0;
        border: 0.125rem solid #34a853; }
      .btn-outline-green:active, .btn-outline-green:focus, .btn-outline-green:focus-visible, .btn-outline-green:focus-within {
        background-color: #c8e6c9;
        color: #121212;
        border: 0.125rem solid #66bb6a;
        box-shadow: 0 0 0 0.35rem rgba(52, 168, 83, 0.25); }
        body.dark .btn-outline-green:active, body.dark .btn-outline-green:focus, body.dark .btn-outline-green:focus-visible, body.dark .btn-outline-green:focus-within {
          box-shadow: 0 0 0 0.35rem rgba(52, 168, 83, 0.25); }
    .btn-outline-yellow {
      background-color: #fff9c4;
      color: #121212;
      border: 0.125rem solid #ffee58; }
      .btn-outline-yellow:hover {
        background-color: #fbbc05;
        color: #f0f0f0;
        border: 0.125rem solid #fbbc05; }
      .btn-outline-yellow:active, .btn-outline-yellow:focus, .btn-outline-yellow:focus-visible, .btn-outline-yellow:focus-within {
        background-color: #fff9c4;
        color: #121212;
        border: 0.125rem solid #ffee58;
        box-shadow: 0 0 0 0.35rem rgba(251, 188, 5, 0.25); }
        body.dark .btn-outline-yellow:active, body.dark .btn-outline-yellow:focus, body.dark .btn-outline-yellow:focus-visible, body.dark .btn-outline-yellow:focus-within {
          box-shadow: 0 0 0 0.35rem rgba(251, 188, 5, 0.25); }

.icon-btn {
  border-radius: 500px;
  margin: 0.5rem;
  padding: 0.825rem; }
  .icon-btn-sm {
    padding: 0.6rem; }
  .icon-btn-lg {
    padding: 1rem; }

.fab {
  background-color: var(--tcolor-400);
  color: #f0f0f0;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2000;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  height: 3.5rem;
  width: 3.5rem;
  overflow: visible;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 1, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 1, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .fab .material-icons {
    transition: all 500ms ease; }
  .fab:hover {
    background-color: var(--bgcolor-100);
    color: #121212; }
    .fab:hover .material-icons {
      transform: rotateZ(360deg); }
  .fab:active, .fab:focus {
    outline: none;
    background-color: var(--tcolor-700);
    color: #f0f0f0; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 4px solid transparent; }
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); }
  ::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 500px; }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #525252; }

.material-icons {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.dispn {
  display: none !important; }
